<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="1">
    <test name="test1">
        <parameter name="browserType" value="chrome"></parameter>

        <classes>
            <class name="StepDefinitions.AddSubjectCategoriesSteps"></class>
        </classes>

    </test>

</suite>